body {
  background: #020617;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wand {
  width: 7vmin;
  aspect-ratio: 1 / 10;
  background: linear-gradient(
    to right,
    rgb(181, 134, 229) 10%,
    rgb(128, 68, 187) 45% 55%,
    rgb(56, 19, 92) 90%
  );
  position: absolute;
  left: 5%;
  top: 20%;
  translate: -50%;
  rotate: -3deg;
  z-index: 100;
  border-radius: 3vmin;
  box-shadow: 0vmin 1vmin 4vmin rgb(0 0 0 / 80%);
  overflow: hidden;
}

#wand > .cap {
  height: 20%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(138, 196, 237) 10%,
    rgb(110, 157, 191) 45% 55%,
    rgb(80, 120, 149) 90%
  );
}


#frame {
  display: flex;
}

.pic {
  display: grid;
  place-items: center;
  width: 55vmin;

  aspect-ratio: 1;
  background-color: #1f2937;
  border-radius: 10vmin;
  box-shadow: 0vmin 3vmin 6vmin rgb(0 0 0 / 25%),
    inset 0vmin 0.5vmin 1vmin rgb(255 255 255 / 15%);
  position: relative;
  overflow: hidden;
}

.pic:nth-child(1) {
  rotate: 3deg;
  z-index: 3;
}

.pic:nth-child(2) {
  rotate: 10deg;
  z-index: 2;
}

.pic:nth-child(3) {
  rotate: -5deg;
  z-index: 1;
}

.pic:is(:nth-child(2), :nth-child(3)) {
  margin-left: -10vmin;
}

.pic > img {
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  opacity: var(--opacity);
  filter: blur(calc(var(--blur) * 10px));
}
